* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;

  @include res(tablet) {
    font-size: 56.25%;
  }
}

:root {
  --side-bar-width: 12rem;

  @include res(landscapePhone) {
    --side-bar-width: 0;
    --side-bar-height: 7rem;
  }
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  &.disabled-scroll {
    overflow: hidden;
  }

  &.preloader {
    position: relative;
    height: 100vh;
    .preloader-container {
      display: flex;
    }
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.display {
  display: block !important;
}

.flex {
  display: flex !important;
}
