$color-blue: #031e44;
$color-blue-light: #246bfd;
$color-white: #fff;
$color-black: #000;
$color-grey: #f8f9ff;
$side-bar-width: 15rem;
$color-text-heading: #3b3d55;
$color-red: #ff414c;
$color-grey-secondary: #b9babe;
$color-grey-third: #edecf9;
