@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (max-width: 991.98px) {
  html {
    font-size: 56.25%;
  }
}

:root {
  --side-bar-width: 12rem;
}

@media only screen and (max-width: 767.98px) {
  :root {
    --side-bar-width: 0;
    --side-bar-height: 7rem;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body.disabled-scroll {
  overflow: hidden;
}

body.preloader {
  position: relative;
  height: 100vh;
}

body.preloader .preloader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.display {
  display: block !important;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  to {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  to {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
}

.main {
  margin-left: var(--side-bar-width);
  padding: 1.8rem;
}

@media only screen and (max-width: 767.98px) {
  .main {
    padding-bottom: var(--side-bar-height);
  }
}

.main .matches {
  --col-num: 3;
  --col-space: 1.2rem;
}

@media only screen and (max-width: 767.98px) {
  .main .matches {
    --col-num: 2;
  }
}

@media only screen and (max-width: 575.98px) {
  .main .matches {
    --col-num: 1;
  }
}

.main .matches__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--col-space);
}

.section__title {
  font-size: 1.8rem;
  color: #3b3d55;
  margin-bottom: 1.2rem;
}

.competitions {
  --col-num: 4;
  --col-space: 1.2rem;
}

@media only screen and (max-width: 991.98px) {
  .competitions {
    --col-num: 3;
  }
}

@media only screen and (max-width: 767.98px) {
  .competitions {
    padding-bottom: var(--side-bar-height);
    --col-num: 2;
  }
}

@media only screen and (max-width: 575.98px) {
  .competitions {
    --col-num: 1;
  }
}

.competitions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--col-space);
}

.competitions__item {
  padding: 1.2rem;
  -webkit-box-flex: calc( (100% - calc(var(--col-num) - 1) * var(--col-space)) / var(--col-num));
      -ms-flex: calc( (100% - calc(var(--col-num) - 1) * var(--col-space)) / var(--col-num)) 0 0px;
          flex: calc( (100% - calc(var(--col-num) - 1) * var(--col-space)) / var(--col-num)) 0 0;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 12px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 12px;
  border-radius: 0.8rem;
  cursor: pointer;
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.competitions__item:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.competitions__item-name {
  font-size: 1.8rem;
  color: #3b3d55;
  margin-bottom: 1.2rem;
}

.competitions__item-logo {
  width: 60%;
  height: 13rem;
  margin: 0 auto;
}

.competitions__item-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.competition-detail .competition-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4.8rem 2.8rem;
  border-radius: 3.2rem;
  background: -webkit-gradient(linear, left top, right top, from(#005085), to(#031e44));
  background: linear-gradient(to right, #005085, #031e44);
}

.competition-detail .competition-title .competition-heading {
  font-size: 3.2rem;
  color: #fff;
  font-weight: 500;
}

.competition-detail .competition-title .competition-logo {
  margin-left: 1.2rem;
  width: 5rem;
}

.competition-detail .competition-title .competition-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.matches--current-week, .matches--next-week {
  margin-top: 2.8rem;
}

.matches--current-week .matches__title, .matches--next-week .matches__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.matches--current-week .matches__title .slider-control, .matches--next-week .matches__title .slider-control {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

@media only screen and (max-width: 767.98px) {
  .matches--current-week .matches__title .slider-control, .matches--next-week .matches__title .slider-control {
    display: none;
  }
}

.matches--current-week .matches__title .slider-control__item, .matches--next-week .matches__title .slider-control__item {
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

.matches--current-week .matches__title .slider-control__item--disabled, .matches--next-week .matches__title .slider-control__item--disabled {
  color: #f8f9ff;
  cursor: default;
}

.matches--current-week .matches__list, .matches--next-week .matches__list {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (max-width: 767.98px) {
  .matches--current-week .matches__list, .matches--next-week .matches__list {
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
}

@media only screen and (max-width: 767.98px) {
  .matches--current-week .matches__list .matches__item, .matches--next-week .matches__list .matches__item {
    scroll-snap-align: start;
  }
}

.competition-info {
  --col-num: 2;
  --col-space: 1.8rem;
  margin-top: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--col-space);
}

@media only screen and (max-width: 767.98px) {
  .competition-info {
    --col-num: 1;
  }
}

.competition-info__item {
  position: relative;
  -webkit-box-flex: calc( (100% - calc(var(--col-num) - 1) * var(--col-space)) / var(--col-num));
      -ms-flex: calc( (100% - calc(var(--col-num) - 1) * var(--col-space)) / var(--col-num)) 0 0px;
          flex: calc( (100% - calc(var(--col-num) - 1) * var(--col-space)) / var(--col-num)) 0 0;
  padding: 1.4rem;
  background-color: #f8f9ff;
  border-radius: 0.8rem;
}

.competition-info__item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.8rem;
}

.competition-info__item-head .heading {
  font-size: 1.8rem;
  color: #3b3d55;
}

.competition-info__item-head .expand {
  font-size: 1.4rem;
  color: #246bfd;
  cursor: pointer;
}

.main .highlight {
  --col-num: 4;
  --col-space: 1.2rem;
}

@media only screen and (max-width: 991.98px) {
  .main .highlight {
    --col-num: 3;
  }
}

@media only screen and (max-width: 767.98px) {
  .main .highlight {
    --col-num: 2;
  }
}

@media only screen and (max-width: 575.98px) {
  .main .highlight {
    --col-num: 1;
  }
}

.main .highlight__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 calc(var(--col-space) / -2);
}

.main .highlight__item {
  -webkit-box-flex: calc(100% / var(--col-num));
      -ms-flex: calc(100% / var(--col-num)) 0 0px;
          flex: calc(100% / var(--col-num)) 0 0;
  padding: 0 calc(var(--col-space) / 2);
  margin-bottom: 2rem;
  cursor: pointer;
}

.main .highlight__item-img {
  position: relative;
  height: 20rem;
}

.main .highlight__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.2rem;
}

.main .highlight__item-img-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3.6rem;
  color: #fff;
}

.main .highlight__item-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #3b3d55;
  margin-top: 0.2rem;
}

.main .highlight__item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.4rem;
}

.main .highlight__item-competition {
  font-size: 1.2rem;
  color: #fff;
  background-color: #031e44;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
}

.main .highlight__item-date {
  font-size: 1.2rem;
  color: #b9babe;
  margin: 0 auto;
}

.main .video-popup {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .video-popup .close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 3.6rem;
  color: #fff;
  cursor: pointer;
}

.main .video-popup iframe {
  width: 80%;
  height: 80%;
  border-radius: 0.8rem;
  border: none;
}

@media only screen and (max-width: 767.98px) {
  .main .video-popup iframe {
    width: 90%;
    height: 50%;
  }
}

.side-bar {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--side-bar-width);
  background-color: #031e44;
  color: #506480;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 767.98px) {
  .side-bar {
    top: initial;
    right: 0;
    width: unset;
    height: var(--side-bar-height);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.side-bar .logo {
  font-size: 6rem;
  padding-top: 2rem;
  color: #fff;
  text-align: center;
}

@media only screen and (max-width: 767.98px) {
  .side-bar .logo {
    display: none;
  }
}

.side-bar .navigation {
  margin: auto 0;
}

@media only screen and (max-width: 767.98px) {
  .side-bar .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.side-bar .navigation__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.side-bar .navigation__item + .navigation__item {
  margin-top: 1.2rem;
}

@media only screen and (max-width: 767.98px) {
  .side-bar .navigation__item + .navigation__item {
    margin-top: 0;
    margin-left: 2.4rem;
  }
}

.side-bar .navigation__item-link {
  width: 4.4rem;
  height: 4.4rem;
  display: inline-block;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.8rem;
}

.side-bar .navigation__item-link:hover {
  background-color: #246bfd;
  color: #fff;
}

.side-bar .navigation__item-link--active {
  background-color: #246bfd;
  color: #fff;
}

.matches__item {
  padding: 1.2rem;
  -webkit-box-flex: calc( (100% - calc(var(--col-num) - 1) * var(--col-space)) / var(--col-num));
      -ms-flex: calc( (100% - calc(var(--col-num) - 1) * var(--col-space)) / var(--col-num)) 0 0px;
          flex: calc( (100% - calc(var(--col-num) - 1) * var(--col-space)) / var(--col-num)) 0 0;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.8rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.matches__item-link {
  display: block;
}

.matches__item:hover {
  cursor: pointer;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.matches__item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.matches__item-competition {
  font-size: 1.4rem;
  font-weight: 700;
  color: #3b3d55;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.matches__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.2rem;
}

.matches__item-body .middle .time {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33% 0 0px;
          flex: 33.33% 0 0;
  font-size: 1.2rem;
  text-align: center;
}

.matches__item-body .middle .time .matches__item-date {
  display: block;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.matches__item-body .middle .time .matches__item-time {
  color: #3b3d55;
  font-weight: 700;
}

.matches__item-body .middle .score {
  display: none;
  font-size: 1.8rem;
  font-weight: 700;
}

.matches__item-body .middle--score .time {
  display: none;
}

.matches__item-body .middle--score .score {
  display: block;
}

.matches__item-team {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33% 0 0px;
          flex: 33.33% 0 0;
  text-align: center;
  font-weight: 700;
}

.matches__item-team__logo {
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
}

.matches__item-team__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.matches__item-team__name {
  display: inline-block;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tag {
  padding: 0.4rem 1.6rem;
  font-size: 1rem;
  border-radius: 1.2rem;
}

.tag--LIVE {
  background-color: #ff414c;
  color: #fff;
}

.tag--SCHEDULED {
  background-color: #1ec01e;
  color: #fff;
}

.tag--FINISHED {
  background-color: #1e40da;
  color: #fff;
}

.result__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem 1.4rem;
  border-radius: 1.2rem;
  background-color: #fff;
  color: #3b3d55;
}

.result__item + .result__item {
  margin-top: 1.6rem;
}

.result__item-team {
  -webkit-box-flex: 35%;
      -ms-flex: 35% 0 0px;
          flex: 35% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

.result__item-team:first-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.result__item-team-logo {
  width: 2.4rem;
}

.result__item-team-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.result__item-team-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.2rem;
}

.result__item-score {
  text-align: center;
}

.result__item-score .score {
  font-size: 1.6rem;
  font-weight: 600;
}

.result__item-score .status {
  font-size: 1.1rem;
}

.standing-table {
  background-color: #fff;
  border-radius: 0.8rem;
  margin: 0 auto;
  border-collapse: collapse;
}

.standing-table th,
.standing-table td {
  height: 3.8rem;
  text-align: center;
  font-size: 1.1rem;
  color: #111;
  border-bottom: 1px solid #f8f9ff;
  width: 5rem;
}

.standing-table th {
  text-transform: uppercase;
}

.standing-table .team {
  min-width: 14rem;
  text-align: left;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.matches__item {
  padding: 1.2rem;
  -webkit-box-flex: calc( (100% - calc(var(--col-num) - 1) * var(--col-space)) / var(--col-num));
      -ms-flex: calc( (100% - calc(var(--col-num) - 1) * var(--col-space)) / var(--col-num)) 0 0px;
          flex: calc( (100% - calc(var(--col-num) - 1) * var(--col-space)) / var(--col-num)) 0 0;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.8rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.matches__item-link {
  display: block;
}

.matches__item:hover {
  cursor: pointer;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.matches__item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.matches__item-competition {
  font-size: 1.4rem;
  font-weight: 700;
  color: #3b3d55;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.matches__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.2rem;
}

.matches__item-body .middle .time {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33% 0 0px;
          flex: 33.33% 0 0;
  font-size: 1.2rem;
  text-align: center;
}

.matches__item-body .middle .time .matches__item-date {
  display: block;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.matches__item-body .middle .time .matches__item-time {
  color: #3b3d55;
  font-weight: 700;
}

.matches__item-body .middle .score {
  display: none;
  font-size: 1.8rem;
  font-weight: 700;
}

.matches__item-body .middle--score .time {
  display: none;
}

.matches__item-body .middle--score .score {
  display: block;
}

.matches__item-team {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33% 0 0px;
          flex: 33.33% 0 0;
  text-align: center;
  font-weight: 700;
}

.matches__item-team__logo {
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
}

.matches__item-team__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.matches__item-team__name {
  display: inline-block;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.competition__result-detail {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50vw;
  max-height: 70vh;
  padding: 4.8rem 2.4rem 2.4rem;
  border-radius: 1.2rem;
  background-color: #f8f9ff;
  overflow-y: auto;
  display: none;
}

@media only screen and (max-width: 767.98px) {
  .competition__result-detail {
    width: 85vw;
  }
}

.competition__result-detail::-webkit-scrollbar {
  width: 0.4rem;
}

.competition__result-detail::-webkit-scrollbar-thumb {
  border-radius: 1.2rem;
  background-color: #aaa;
}

.competition__result-detail .round-list {
  --col-num: 7;
  --col-space: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 calc(var(--col-space) / -2);
  font-size: 1.4rem;
  text-align: center;
}

.competition__result-detail .round-list-container {
  --padding: 2rem;
  padding: 0 var(--padding);
  position: relative;
}

.competition__result-detail .round-list-container .slider-control .slider-control__item {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  padding: 0.6rem;
}

.competition__result-detail .round-list-container .slider-control .slider-control__item--disabled {
  color: #b9babe;
}

.competition__result-detail .round-list-container .slider-control__prev {
  left: 0;
}

.competition__result-detail .round-list-container .slider-control__next {
  right: 0;
}

.competition__result-detail .round-list-container .slider {
  padding: 0 !important;
}

.competition__result-detail .round-list .round-item {
  -webkit-box-flex: calc(100% / var(--col-num));
      -ms-flex: calc(100% / var(--col-num)) 0 0px;
          flex: calc(100% / var(--col-num)) 0 0;
  padding: 0 calc(var(--col-space) / 2);
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.competition__result-detail .round-list .round-item-link {
  width: 100%;
  padding: 0.8rem 0;
  border-radius: 0.8rem;
  background-color: #fff;
}

.competition__result-detail .competition__result-heading {
  font-size: 1.4rem;
  color: #3b3d55;
  margin: 1.2rem 0;
}

.competition__standing-detail {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 70vh;
  padding: 4.8rem 2.4rem 2.4rem;
  border-radius: 1.2rem;
  background-color: #f8f9ff;
  overflow-y: scroll;
  display: none;
}

@media only screen and (max-width: 767.98px) {
  .competition__standing-detail {
    width: 90vw;
  }
}

.competition__standing-detail::-webkit-scrollbar {
  width: 0.2rem;
}

.competition__standing-detail::-webkit-scrollbar-thumb {
  border-radius: 1.2rem;
  background-color: #aaa;
}

.detail-close {
  font-size: 1.8rem;
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  padding: 1.2rem;
  cursor: pointer;
}

.match-detail {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50vw;
  max-height: 70vh;
  padding: 4.8rem 2.4rem 2.4rem;
  border-radius: 1.2rem;
  background-color: #f8f9ff;
  display: none;
}

@media only screen and (max-width: 767.98px) {
  .match-detail {
    width: 85vw;
  }
}

.match-detail-score {
  text-align: center;
}

.match-detail-score .score {
  font-size: 1.8rem;
  font-weight: 700;
  color: #3b3d55;
  margin-bottom: 0.4rem;
}

.match-detail-score .status {
  font-size: 1.4rem;
}

.match-detail .match-info {
  margin-top: 2rem;
}

.match-detail .match-info__heading {
  font-size: 1.4rem;
  color: #3b3d55;
}

.match-detail .match-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 1.6rem;
  background-color: #fff;
  border-radius: 1.2rem;
  margin-top: 1.2rem;
}

.match-detail .match-info__item-icon {
  font-size: 1.8rem;
  margin-right: 1.6rem;
}

.match-detail .match-info__item-detail {
  font-size: 1.4rem;
  display: block;
  margin-bottom: 0.2rem;
}

.match-detail .match-info__item-title {
  font-size: 1.2rem;
  color: #b9babe;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.4rem;
  color: #b9babe;
}

.preloader-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  display: none;
}

.preloader span {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.preloader span:not(:first-child) {
  margin-left: 1rem;
}

.preloader span:nth-child(1) {
  background-color: #4285f4;
  -webkit-animation: move 1s ease-in-out -0.25s infinite alternate;
          animation: move 1s ease-in-out -0.25s infinite alternate;
}

.preloader span:nth-child(2) {
  background-color: #db4437;
  -webkit-animation: move 1s ease-in-out -0.5s infinite alternate;
          animation: move 1s ease-in-out -0.5s infinite alternate;
}

.preloader span:nth-child(3) {
  background-color: #f4b400;
  -webkit-animation: move 1s ease-in-out -0.75s infinite alternate;
          animation: move 1s ease-in-out -0.75s infinite alternate;
}

.preloader span:nth-child(4) {
  background-color: #0f9d58;
  -webkit-animation: move 1s ease-in-out -1s infinite alternate;
          animation: move 1s ease-in-out -1s infinite alternate;
}
/*# sourceMappingURL=main.css.map */