.competition__result-detail {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  max-height: 70vh;
  padding: 4.8rem 2.4rem 2.4rem;
  border-radius: 1.2rem;
  background-color: $color-grey;

  display: none;

  .round-list {
    display: flex;
    align-items: center;
    font-size: 1.4rem;

    .round-item {
      &-link {
        display: inline-block;
        padding: 1.6rem;
        background-color: $color-white;
      }
    }
  }

  .competition__result-heading {
    font-size: 1.4rem;
    color: $color-text-heading;
    margin: 1.2rem 0;
  }
}
