.top-scorer__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.4rem;
  background-color: $color-white;
  border-radius: 1.2rem;

  & + & {
    margin-top: 1.6rem;
  }

  .top-scorer__name {
    font-size: 1.4rem;
    color: $color-text-heading;
    margin-bottom: 0.6rem;
  }

  .top-scorer__club {
    font-size: 1rem;
    color: $color-grey-secondary;
  }

  &-score-container {
    --size: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include size(var(--size));
    border-radius: 50%;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: $color-grey-third;
    color: $color-text-heading;
  }
}
