.competition-detail {
  .competition-title {
    display: flex;
    align-items: center;
    padding: 4.8rem 2.8rem;
    border-radius: 3.2rem;
    background: linear-gradient(to right, #005085, $color-blue);
    .competition-heading {
      font-size: 3.2rem;
      color: $color-white;
      font-weight: 500;
    }

    .competition-logo {
      margin-left: 1.2rem;
      width: 5rem;

      img {
        @include size(100%);
        object-fit: cover;
      }
    }
  }
}

.matches {
  &--current-week,
  &--next-week {
    margin-top: 2.8rem;

    .matches__title {
      display: flex;

      .slider-control {
        margin-left: auto;
        display: flex;
        align-items: center;
        font-size: 2rem;

        @include res(landscapePhone) {
          display: none;
        }

        &__item {
          padding: 0.6rem 1.2rem;
          cursor: pointer;

          &--disabled {
            color: $color-grey;
            cursor: default;
          }
        }
      }
    }

    .matches__list {
      flex-wrap: nowrap;

      @include res(landscapePhone) {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
      }

      .matches__item {
        @include res(landscapePhone) {
          scroll-snap-align: start;
        }
      }
    }
  }
}

.competition-info {
  --col-num: 2;
  --col-space: 1.8rem;
  margin-top: 2.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--col-space);

  @include res(landscapePhone) {
    --col-num: 1;
  }

  &__item {
    position: relative;
    flex: calc(
        (100% - calc(var(--col-num) - 1) * var(--col-space)) / var(--col-num)
      )
      0 0;
    padding: 1.4rem;
    background-color: $color-grey;
    border-radius: 0.8rem;
    &-head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.8rem;

      .heading {
        font-size: 1.8rem;
        color: $color-text-heading;
      }

      .expand {
        font-size: 1.4rem;
        color: $color-blue-light;
        cursor: pointer;
      }
    }
  }
}
